---
import Tag from "@/components/Tag.astro";
import type { CollectionEntry } from "astro:content";
import { slugifyStr } from "@/utils/slugify";
import { getPath } from "@/utils/getPath";
import Datetime from "./Datetime.astro";

import type { Tag as TagType } from "@/utils/getUniqueTags";

type Props = {
  variant?: "h2" | "h3";
  showDescription?: boolean;
  uniqueTags?: TagType[];
} & CollectionEntry<"blog">;

const { variant: Heading = "h2", showDescription = true,  uniqueTags = [], id, data, filePath } = Astro.props;

const { title, description, modDatetime, tags, ...props } = data;
---

<li class="my-6">
  <a
    href={getPath(id, filePath)}
    class:list={[
      "inline-block text-xl font-medium text-accent",
      "decoration-solid underline-offset-4 hover:underline",
      "focus-visible:no-underline focus-visible:underline-offset-0",
    ]}
  >
    <Heading
      style={{ viewTransitionName: slugifyStr(title.replaceAll(".", "-")) }}
    >
      {title}
    </Heading>
  </a>
    <div class="flex flex-col items-start gap-2 sm:flex-row sm:items-center">
      <Datetime {...props} size="lg" />
      <ul class="mb-6 flex flex-wrap gap-4 sm:my-8">
        {tags.map(tag => <Tag tagName={tag} {uniqueTags} size="sm" />)}
      </ul>
    </div>
    { showDescription && <p>{description}</p> }
</li>
